# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
media/uploads/*
!media/uploads/.gitkeep
staticfiles/

# Environment
.env

# Editor
.vscode/
.idea/

# OS
.DS_Store
